.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffeb3b;
  font-family: 'Arial', sans-serif;
  color: #2c3e50;
}

.title {
  font-size: 3rem;
  margin-bottom: 20px;
}

.game-card {
  width: 300px;
  height: 300px;
  background-color: #e74c3c;
  border-radius: 20px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.game-card:hover {
  transform: scale(1.1);
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.game-card-image {
  width: 80%;
  height: auto;
  margin-bottom: 10px;
}
